{% extends "base.html" %}
{%load crispy_forms_tags %} 
{% block body %}
<br>
<div class="container bg-light shadow-md p-5 w-25" >
<div class="container bg-primary-subtle border border-primary-subtle p-2 rounded-2 ">
    <h3>Create your account</h3>
    <div class="container ">
<form method="post">
{% csrf_token %}
{{form|crispy}}
<br>
<button type="submit" class="btn btn-primary">Register</button>

</form>
<br>
</div>

    <p>Already have an Account? <a href="{% url "login" %}">Login</a></p>

</div>
</div>
{% endblock body %}